footer{
    .img-facebook{
        transition:all $sec-5;
        &:hover{
            width: $px-6; height: $px-6;
        }
    }
    .img-instagram{
        transition:all $sec-5;
        &:hover{
            width: $px-6; height: $px-6;
        }
    }
    .img-twitter{
        transition:all $sec-5;
        &:hover{
            width: $px-6; height: $px-6;
        }
    }
    .img-youtube{
        transition:all $sec-5;
        &:hover{
            width: $px-6; height: $px-6;
        }
    }
}