footer{
    .img-facebook{
        transition:all .5s;
        &:hover{
            width: 60px; height: 60px;
        }
    }
    .img-instagram{
        transition:all .5s;
        &:hover{
            width: 60px; height: 60px;
        }
    }
    .img-twitter{
        transition:all .5s;
        &:hover{
            width: 60px; height: 60px;
        }
    }
    .img-youtube{
        transition:all .5s;
        &:hover{
            width: 60px; height: 60px;
        }
    }
}