a{text-decoration: none;}
.bg-principal{
    background-color: $bg-principal;
}
footer{
    margin: $cero !important;
    width: $cien !important;
}
body{
    font-family: 'Tahoma' !important;
    color: $black;
}
