nav{
    .btn2{
        color: black;
        border-color: black;
        transition: all $sec-5;
        &:hover{
            color: black;
            border-color: black;
            background-color: rgb(100, 100, 100);
        }
    }
}
@media only screen and (min-width:1023px){
    form{
        transform: translate(290px,-40px);
    }
    .img-user{
        transform: translate(-10px,40px);
        transition:all $sec-5;
        &:hover{
            width: $px-6; height: $px-6;
        }
    }
    .img-carrito{
        transform: translate(-10px,40px);
        transition: all $sec-5;
        &:hover{
            width: $px-6; height: $px-6;
        }
    }
}
    


