    // header{
    //     background-image: linear-gradient(to right ,$bg-principal,$bg-principal,#6b4627);
    // }
    nav{
        .btn2{
            color: black;
            border-color: black;
            &:hover{
                color: black;
                border-color: black;
                background-color: rgb(100, 100, 100);
            }
        }
    }

