main{
    div{
        .infoHistoria {
            border: double $black;
        }
    }
}
.bg-imgMain{
    background-image: url(../img/fondoMain2.png);
}
@media only screen and (min-width:1023px){
    .form{
        width: 30%;
     transform: translate(460px,-3px);
    }
}